.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #F68A00;
    background-color: #F68A00;
}


.tab-category{
    -fx-background-color: #FCEBD6;
    background-color: #FCEBD6;
    -fx-border-color: #EACBA3;
    border-color: #EACBA3;

    -fx-border-width: 0px 0px 3px 0px;
    border-width: 0px 0px 3px 0px;
    -fx-font-size: 11px;
    font-size: 11px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-category .tab-label { 
    -fx-alignment: CENTER;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.tab-category:hover{
    -fx-border-color: #F68A00;
    border-color: #F68A00;
    -fx-font-size: 11px;
    font-size: 11px;
}

.tab-category:selected  {    
    -fx-border-color: #F68A00;
    border-color: #F68A00;
    -fx-border-width: 0px 0px 3px 0px;
    border-width: 0px 0px 3px 0px;
    -fx-background-color: #FFDFB7;
    background-color: #FFDFB7;
}


.panel-item{
    -fx-background-radius: 0px 0px 35px 35px;
}

.regular-button{
    -fx-background-color: #F68A00;
    background-color: #F68A00;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    font-weight: bold;
}

.tab-header{
    -fx-background-radius: 35px 35px 0px 0px;
}

.optional-features-grid{
    -fx-border-color: #2e8b57;
    border-color: #2e8b57;
    -fx-border-width: 2px;
    border-width: 2px;
    -fx-border-radius: 5;
    border-radius: 5;
}

.optional-features-cell{
    -fx-border-color: #2e8b57;
    border-color: #2e8b57;
    -fx-border-width: 0px 0px 2px 0px;
    border-width: 0px 0px 2px 0px;
}


.table-view .column-header-background, .table-view .column-header {
    -fx-background-color: #83C03D;
    background-color: #83C03D;
    border-radius: 10px;
    -fx-text-fill: #FFF;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.tab_category {
    -fx-border-color: #EACBA3;
    border-color: #EACBA3;
    -fx-border-width: 0px 0px 3px 0px;
    border-width: 0px 0px 3px 0px;
    -fx-font-size: 11px;
    font-size: 11px;
}

.return-to-menu-btn{
    -fx-background-color: #FFF;
    background-color: #FFF;
    -fx-text-fill: #F68A00;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    font-weight: bold;
}

.return-to-menu-btn:hover{
    -fx-font-size: 10px;
    font-size: 10px;
}